body {
    padding-top: 50px;
    font-family: "helvetica"
}

h4 span {
    font-size:14px;
    font-weight:normal;
}
  
h2 {
    float: right;
  }
  
h2 span {
    font-size:14px;
    font-weight:normal;
}

.single-col {
    padding-right:15px;
    padding-left:15px;
    position: relative;
}

#mapid {
    width: 1280px;
    height: 540px;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #1F77B4;
}